<div class="module">Módulo 1: Innovación</div>
<div class="expositors">
    <div>
        <div data-cnt="c1" class="modal-triger">Sesión 01</div>
        <div>Innovación Digital</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f1.png">
        <div><span>Paola Aldaz</span>Chief Innovation Officer DDB</div>
    </div>
    <div>
        <div data-cnt="c2" class="modal-triger">Sesión 02</div>
        <div>Propuesta de Valor</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f2.png">
        <div><span>Daphne Leger</span>CEO Atrevida</div>
    </div>
    <div>
        <div data-cnt="c3" class="modal-triger">Sesión 03</div>
        <div>Ideación</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f3.png">
        <div><span>Juan Adlercreutz</span>Partner &amp; Regional Director Propelland</div>
    </div>
    <div>
        <div data-cnt="c4" class="modal-triger">Sesión 04 </div>
        <div>Estrategia en Redes Sociales</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f4.png">
        <div><span>Laura Galván</span>Social Media Strategy &amp; Optimization Director MIRUM México</div>
    </div>
    <div>
        <div data-cnt="c5" class="modal-triger">Sesión 05</div>
        <div>SEO &amp; SEM</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f5.png">
        <div><span>Eric Mercier</span>Head of SEO OCTOPUS</div>
    </div>
</div>
<div class="module">Módulo 2: Marketing Digital</div>
<div class="expositors">
    <div>
        <div data-cnt="c6" class="modal-triger">Sesión 06 </div>
        <div>Mobile UX</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f6.png">
        <div><span>JOAN BACA</span>Responsible for MOBILE Latam GOOGLE</div>
    </div>
    <div>
        <div data-cnt="c7" class="modal-triger">Sesión 07 </div>
        <div>Marketing<br>de Contenidos</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f7.png">
        <div><span>Luis Martínez</span>Founder &amp; CEO MARAM Consultora Alsea</div>
    </div>
    <div>
        <div data-cnt="c8" class="modal-triger">Sesión 08</div>
        <div>Digital Shelf</div>
        <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/PyME/f8.png"
            style="border-radius: 200px;">
        <div><span>Cristian Serrano</span>E-commerce General Manager Tekmovil</div>
    </div>
</div>
<div style="display: none;">
    <div id="c1" class="cnt">
        <div class="subST"><span>Sesión 01&nbsp;</span><small>/ Abril 13</small>
            <p>Innovación Digital</p>
            Overview de lo que significa la innovación en un mundo digital y las principales
            metodologías utilizadas para innovar en la era digital.
        </div>
    </div>
    <div id="c2" class="cnt">
        <div class="subST"><span>Sesión 02&nbsp;</span><small>/ Abril 15</small>
            <p>Propuesta de Valor</p>
            La propuesta de valor es la razón por la que la gente compra tu producto o servicio. Su
            función es hablarle al consumidor en su lenguaje.
        </div>
    </div>
    <div id="c3" class="cnt">
        <div class="subST"><span>Sesión 03&nbsp;</span><small>/ Abril 22</small>
            <p>Ideación</p>
            Idear soluciones nuevas e innovadoras a los problemas y estructurar ese trabajo para que los
            resultados sean productivos y útiles.
        </div>
    </div>
    <div id="c4" class="cnt">
        <div class="subST"><span>Sesión 04&nbsp;</span><small>/ Abril 27</small>
            <p>Estrategia en Redes Sociales</p>
            Cómo generar una estrategia en redes sociales que tenga el impacto deseado y entrega de una
            experiencia omnicanal.
        </div>
    </div>
    <div id="c5" class="cnt">
        <div class="subST"><span>Sesión 05&nbsp;</span><small>/ Abril 29</small>
            <p>SEO &amp; SEM</p>
            Entender el funcionamiento de los motores de búsqueda y la inversión publicitaria en Google
            es clave para existir en el mundo digital.
        </div>
    </div>
    <div id="c6" class="cnt">
        <div class="subST"><span>Sesión 06&nbsp;</span><small>/ Mayo 6</small>
            <p>Mobile UX</p>
            Mejores prácticas para optimizar tu sitio web para uso móvil: velocidad de carga de la
            página, ubicación de botones call to action, etc.
        </div>
    </div>
    <div id="c7" class="cnt">
        <div class="subST"><span>Sesión 07&nbsp;</span><small>/ Mayo 13</small>
            <p>Marketing de Contenidos</p>
            Cómo generar contenidos de valor para cada etapa del funnel para el mejor aprovechamiento de
            las plataformas y social media.
        </div>
    </div>
    <div id="c8" class="cnt">
        <div class="subST"><span>Sesión 08&nbsp;</span><small>/ Mayo 20</small>
            <p>Digital Shelf</p>
            Optimizar el display e interactividad de tus productos en línea para aumentar ventas.
        </div>
    </div>
</div>