<div class="owl-carousel owl-theme" id="primerC">
    <div class="item">
        <div class="hero-banner green">
            <div
                style="background-image:url('https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/GettyImages-1185595597.jpg')">
                <div>
                    <div><h1 class="title">M&aacute;s cajeros<br> a tu alcance</h1> En m&aacute;s de 7,000 ubicaciones
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="hero-banner pink">
            <div
                style="background-image:url('https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/GettyImages-1185595597.jpg')">
                <div>
                    <div><h1 class="title">M&aacute;s cajeros<br> a tu alcance</h1> En m&aacute;s de 7,000 ubicaciones
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>