<div class="combo combo--inverse">
    <div>Aprovecha los descuentos en todas tus compras al pagar con tu <strong>Tarjeta de Débito Scotiabank</strong> en
        los establecimientos participantes. <br><br> Además todas las compras realizadas del 09 al 16 de noviembre en
        los establecimientos registrados en el portal <strong>elbuenfin.org</strong> participan en el
        <strong>#SORTEOELBUENFIN</strong> <img
            src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/bf_2020-sat.png"
            style="width: 72px; display: block; margin: 0 auto;"></div>
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/GettyImages-909076466.jpg" class="illustration"></div>
</div>