.list{
    margin:0;
    padding: 0 0 0 20px;
}

.list > li {
    margin-bottom: 10px;
}
.list.list--green{
    list-style-image: url('https://cdn.agilitycms.com/scotia-bank-mexico/digital-factory/origination/assets/img/icons/icon_checkmark.svg');
}

.list.list--red{
    list-style-image: url('https://scotiabankfiles.azureedge.net/scotia-bank-mexico/arr_premium.png');
}

.list.list--number{
    list-style: none;
    counter-reset: my-awesome-counter;
}

.list.list--number li {
    counter-increment: my-awesome-counter;
    margin-bottom: 8px;
}

.list.list--number li::before {
    content: counter(my-awesome-counter);
    display: inline-block;
    width: 20px;
    margin-left: -24px;
    padding-right: 5px;
    font-weight: 600;
    color: red;
    text-align: right;
}

@media only screen and (min-width:720px){
    .title{
        font-size:36px;
    }
}