<div class="videoBanner">
        <div class="videoContainer">
                <video width="300" height="150" autoplay="autoplay" loop="loop" muted="">
                        <source src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/codi/codi_main_video_2.mp4"
                                type="video/mp4"> Sorry, your browser doesn't support embedded videos.
                </video>
        </div>
        <div class="videoText">
                <div>
                <h1 class="title">Tranformación Digital Scotiabank</h1>
                CoDi<sup>®</sup> Cobro Digital, es un nuevo servicio para solicitar Pagos y/o Cobros desarrollado
                por&nbsp;Banco de México, que utiliza&nbsp;SPEI<sup>®</sup>&nbsp;y notifica en tiempo real el resultado
                de la operación a los participantes.
                </div>
        </div>
</div>