<div class="stickyband">
    <div>
        <div>
            <img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/Reset-password-colour.svg" />
            <div>
                <div class="infoTextMobile"><div><strong>Tú decides nosotros te asesoramos</strong></div>
                </div>
                <div class="infoTextDesktop"><div><strong>Tú decides nosotros te asesoramos</strong></div>
                    comprensión.</div>
            </div>
        </div>
        <div><!--a class="sb_action"
                href="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/AVI_CambiodeContrato.pdf?t=1613689213924"
                target="_blank" rel="noopener">M&aacute;s informaci&oacute;n</a--></div>
    </div>
</div>