<div class="legal">
    <div class="legal-point">
        <div>1</div>
        <div>Consulta vigencia, departamentos, productos, términos y condiciones aplicables a la
            promoción de Meses sin Intereses* y/o de los descuentos directamente con los comercios participantes.</div>
    </div>
    <div class="legal-point">
        <div>2</div>
        <div>Vigencia de la promoción del 9 al 20 de noviembre de 2020. <br> La bonificación del 15%
            aplica para clientes que se inscriban respondiendo a la promoción a través del SMS o email que reciban a
            través de los datos de contacto registrados en Scotiabank, llamando al 55 5728 1900 o a través de <a
                class="link" href="https://www.scotiabank.com.mx/promociones/tdc/registro">https://www.scotiabank.com.mx/promociones/tdc/registro</a>.
            Aplica para compras realizadas en moneda nacional y extranjera, a revolvente y a Meses sin Intereses*,
            durante el periodo de la vigencia en los siguientes comercios físicos y online: Liverpool, Palacio de
            Hierro, West Elm, Williams Sonoma, Pottery Barn, Sears, Sanborns, Home Depot, Best Buy, Suburbia, Chedraui,
            Chedraui Selecto, City Club, Soriana, Mega Soriana, Fresko, La Comer, <a
                href="https://www.despegar.com.mx/" class="link">Despegar.com</a>, Volaris, Aeroméxico, BestDay, Price Travel, Viva
            Aerobus, Mundo Joven, <a href="https://www.amazon.com.mx/">amazon.com.mx</a>, Mercado Libre, Linio,
            Innvictus, Innova Sport, PayPal, RadioShack, Office Depot, Office Max, Ishop, MacStore, Telcel, Mixup,
            Innovasport, Juguetron, <a href="https://www.innovasport.com/" class="link">innovasport.com.mx</a>, Cimaco y American
            Airlines. No aplican disposiciones de efectivo, comisiones, cuota anual, pagos realizados en tesorería,
            casinos, notarías, pagos gubernamentales, transferencias de saldos o devoluciones de las compras realizadas
            durante el período de la vigencia. Participan todas las compras mayores a: $2,500 pesos. Monto máximo de
            bonificación por las compras realizadas durante este periodo es de $750 pesos, aplica una bonificación por
            cliente por Tarjeta. La bonificación del 15% está sujeta a 6,000 bonificaciones. La Tarjeta de Crédito se
            deberá encontrar vigente y al corriente al momento de recibir la bonificación. La bonificación se verá
            reflejada en tu estado de cuenta máximo dos cortes posteriores al término de la vigencia de la campaña con
            el concepto: Bonificación Buen Fin 2020. No aplica para Tarjeta de Crédito Linio, Básica, ni empresarial.
        </div>
    </div>
    <div class="legal-point">
        <div>3</div>
        <div>Consulta más información, términos, condiciones y restricciones de las protecciones
            aplicables a la Tarjeta de Crédito Scotiabank en <a
                href="https://www.scotiabank.com.mx/Personas/Tarjetas-de-Credito.aspx" class="link">scotiabank.com.mx/tdc</a> El
            beneficio es responsabilidad de la compañía aseguradora que lo otorga</div>
    </div>
    <div class="legal-point">
        <div>4</div>
        <div>Para usar Scotia Tarjetas, debes registrarte previamente con usuario y contraseña.</div>
    </div>
    <div class="legal-point">
        <div>*</div>
        <div>Promoción valida solo en Ciudad de Mèxico y Zona Metropolitana.</div>
    </div>
    <div class="legal-point legal-point--global">
        <div></div>
        <div><span class="highlight">CAT de la promoción a Meses sin Intereses* 0.0% sin IVA</span>,
            calculado al 31 de octubre de 2020. <span class="highlight">Tasa de Interés 0.00% anual</span>. Vigencia de
            la oferta al 20 de noviembre de 2020. Para fines informativos y de comparación. Productos y servicios
            ofrecidos por Scotiabank Inverlat S.A., Institución de Banca Múltiple, Grupo Financiero Scotiabank Inverlat.
            Consulta términos, condiciones, comisiones y requisitos de contratación en scotiabank.com.mx<br>Servicio de
            atención telefónica disponible de lunes a domingo las 24 h del día.</div>
    </div>
</div>