<article class="card card--feature">
    <img src="https://cdn.agilitycms.com/scotia-bank-mexico/digital-factory/hipotecario-credito/img/comision@2x.svg">
    <h3>¿Qué puedo elegir?</h3>
    Como cliente puedes decidir si tu Préstamo de Nómina es CAN Que sea CAN significa que tu pago siempre estará
    domiciliado a la cuenta de nómina en donde recibes tu sueldo, sin importar que el banco en donde te paguen tu
    sueldo sea diferente al banco en donde tienes el Préstamo.
</article>
<article class="card card--feature">
    <img src="https://cdn.agilitycms.com/scotia-bank-mexico/digital-factory/hipotecario-credito/img/comision@2x.svg">
    <h3>¿Dónde hay más información?</h3>
    Puedes encontrarla información oficial en la circular 7/2019 publicada por Banxico, en el Diario Oficial de la
    Federación el 30 de abril de 2019. Si lo prefieres también puedes llamar al 55 5728 1900 o acudir a una de
    nuestras sucursales Scotiabank
</article>