<article class="card card--colored grey">
    <a href="#">
        <div></div>
        <div>
            <h3>Prestamo personal</h3>
            <div class="card--colored--ftr whiteColor"></div>
        </div>
    </a>
</article>
<article class="card card--colored red">
    <a href="#">
        <div></div>
        <div>
            <h3>Tarjeta de Débito Scotiabank</h3>
            <div class="card--colored--ftr whiteColor"></div>
        </div>
    </a>
</article>
<article class="card card--colored purple">
    <a href="#">
        <div></div>
        <div>
            <h3>Scotialine</h3>
            <div class="card--colored--ftr whiteColor"></div>
        </div>
    </a>
</article>
<article class="card card--colored green">
    <a href="#">
        <div></div>
        <div>
            <h3>Seguro Valora</h3>
            <div class="card--colored--ftr whiteColor"></div>
        </div>
    </a>
</article>
