<article class="card card--product">
    <a href="#">
        <div></div>
        <div>
            <h3>Tarjeta de Débito Scotiabank</h3>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </div>
    </a>
</article>
<article class="card card--product">
    <a href="#">
        <div></div>
        <div>
            <h3>Seguro de Auto FIU</h3>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt.
            <div class="card--product--ftr redColor"></div>
        </div>
    </a>
</article>
<article class="card card--product">
    <a href="#">
        <div></div>
        <div>
            <h3>Inversion PyME</h3>
            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat.
            <div class="card--product--ftr blue">Link</div>
        </div>
    </a>
</article>