<div class="card card--promo tagV">
    <div class="card_promo-card_header">
        <div><img
                src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/campanas/images/tdc-temporadas/CVDirecto-logo-1500x330.png"
                caption="false"></div>
        <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/chev_down.svg" class="chevy"></div>
    </div>
    <div class="card_promo-card_content">
        <div>30% de descuento <span class="tc">Términos y condiciones</span></div>
        <div>
            <p>CV Directo - Términos y condiciones</p>
            <div>Promoción válida del 9 al 20 de noviembre del 2020. Obtén 30% de descuento en la tienda en línea <a
                    href="https://cvdirectomexico.com/pages/visa-bf"
                    target="_self">https://cvdirectomexico.com/pages/visa-bf</a> Descuento no acumulable con otras
                promociones. No aplica descuento sobre descuento. Promoción válida para tarjetas Visa una por
                transacción. Envío gratis a partir de $1,999.00. Teléfono (55) 71003500. WhatsApp 14819183. Chat CV
                Directo. CV Directo es responsable ante los tarjetahabientes por la promoción ofrecida por lo que Visa
                no asume ninguna responsabilidad con respecto a la misma y es únicamente medios de pago. <span
                    class="back">Atrás</span></div>
        </div>
    </div>
</div>
<div class="card card--promo tagV">
    <div class="card_promo-card_header">
        <div><img
                src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/campanas/images/tdc-temporadas/salomon.png"
                caption="false"></div>
        <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/chev_down.svg" class="chevy"></div>
    </div>
    <div class="card_promo-card_content">
        <div>10% de descuento <span class="tc">Términos y condiciones</span></div>
        <div>
            <p>Salomon - Términos y condiciones</p>
            <div>Promoción válida del 9 al 20 de noviembre del 2020. Obtén en <strong>Tienda Online 10% de
                    descuento</strong> en pedidos de mínimo $2,000 pesos, ingresa a la página <a
                    href="https://www.salomon.com.mx" target="_self">www.salomon.com.mx</a> con el código
                <strong>SCOTIABANK10</strong> y obtén el beneficio o en <strong>Tienda Física 10%</strong> de descuento
                en compra mínima de $2,000 pesos, acude al establecimiento, presenta su tarjeta y solicita el beneficio.
                No acumulable/aplicable con otras promociones. Cobertura en Jalisco, Aguascalientes, San Luis Potosí,
                Guanajuato, Querétaro, Hidalgo, Puebla, Morelos, Ciudad de México y Estado de México. Aplica únicamente
                para Tarjeta de Débito Scotiabank Visa. Para cualquier aclaración comunícate al 55 4335 7258. <span
                    class="back">Atrás</span>
            </div>
        </div>
    </div>
</div>
<div class="card card--promo tagMC">
    <div class="card_promo-card_header">
        <div><img
                src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/campanas/images/tdc-temporadas/linio.png"
                caption="false"></div>
        <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/chev_down.svg" class="chevy"></div>
    </div>
    <div class="card_promo-card_content">
        <div>30% de descuento <span class="tc">Términos y condiciones</span></div>
        <div>
            <p>Linio - Términos y condiciones</p>
            <div>Promoción válida del 9 al 20 de noviembre del 2020 (o hasta agotar existencias). El cupón
                <strong>SCOTIABF30</strong> otorga 30% de descuento adicional en todo el sitio, sujeto a cambios sin
                previo aviso, pagando con Tarjeta de Débito Scotiabank Mastercard. Descuento exclusivo para Tarjetas de
                Débito Scotiabank Mastercard participantes con numeración inicial 557920 y 557922. Mínimo de compra
                $300.00 M.N. sin contar gastos de envío. Máximo descuento $1,200 M.N.. El descuento se verá reflejado al
                ingresar el cupón en el carrito. Órdenes limitadas. Cualquier abuso en los términos y condiciones de la
                promoción procederá a la cancelación del pedido. Linio se reserva el derecho a cancelar órdenes que
                considere sospechosas o fraudulentas. Promoción no acumulable con otras promociones con cupón.<br>Para
                obtener el descuento en el pedido es necesario activar la promoción ingresando como método de pago la
                Tarjeta de Débito Scotiabank Mastercard y realizando el pago del pedido con la misma. Scotiabank
                Inverlat S.A. no se hace responsable por la calidad de estos productos y/o la prestación de los
                servicios. En caso de que exista alguna reclamación relacionada con la calidad del producto y/o
                servicio, deberás remitirte con el establecimiento correspondiente. <span class="back">Atrás</span>
            </div>
        </div>
    </div>
</div>
<div class="card card--promo tagV">
    <div class="card_promo-card_header">
        <div><img
                src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/campanas/images/tdc-temporadas/The_Body_Shop_logo_2020.png"
                caption="false"></div>
        <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/chev_down.svg" class="chevy"></div>
    </div>
    <div class="card_promo-card_content">
        <div>20% de descuento<span class="tc">Términos y condiciones</span></div>
        <div>
            <p>The Body Shop - Términos y condiciones</p>
            <div>Promoción válida del 9 al 20 de noviembre del 2020. 20% con monto mínimo de compra de $1000 MXN sin el
                descuento aplicado. Aplica en toda la tienda excepto en regalos pre-armados. No aplica con otras
                promociones. Promoción válida en Ciudad de México y Estado de México (Toreo y Satélite). Quedan
                excluidas las tiendas de Aeropuerto CDMX Se debe liquidar la cuenta con las tarjetas Scotiabank Visa.
                Aplica únicamente para Tarjeta de Débito Scotiabank Visa. Para cualquier aclaración comunícate al 55
                4335 7258. <span class="back">Atrás</span></div>
        </div>
    </div>
</div>