<div class="card card--video">
    <div data-video="https://www.youtube.com/embed/WyfOVlK37_I" class="video-thumbnail" style="background-image:url('https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/GettyImages-1188433406.jpg')"></div>
    <div>
        <h3>Activación y Vinculación</h3>
        <div>¿Cómo activar y vincular mis cuentas con CoDi?</div>
    </div>
</div>
<div class="card card--video">
    <div data-video="https://www.youtube.com/embed/WyfOVlK37_I" class="video-thumbnail" style="background-image:url('https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/GettyImages-1223377524.jpg')"></div>
    <div>
        <h3>Activación y Vinculación</h3>
        <div>¿Cómo activar y vincular mis cuentas con CoDi?</div>
    </div>
</div>
<div class="card card--video">
    <div data-video="https://www.youtube.com/embed/WyfOVlK37_I" class="video-thumbnail" style="background-image:url('https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/GettyImages-1200911246.jpg')"></div>
    <div>
        <h3>Activación y Vinculación</h3>
        <div>¿Cómo activar y vincular mis cuentas con CoDi?</div>
    </div>
</div>
<div class="modal-generic videoC">
    <div class="modal-generic-content">
        <div class="video-container popup"></div>
    </div>
</div>