    <div class="card card--button modal-triger">
        <span>Costo Anual Total (CAT)</span>
        <div class="description">
            <div class="description-content">
                <h3>Costo Anual Total (CAT)</h3>
                De acuerdo con el Banco de México, el Costo Anual Total (CAT) es un indicador que sirve para calcular el
                costo total del financiamiento de un crédito, es decir, es una medida porcentual que integra no sólo la tasa
                de interés sino todos los elementos que al final tendrás que pagar tales como la cuota anual, comisiones de
                apertura o primas de seguros.
                <br><br>
                Todos los otorgantes de crédito tienen, por ley, que calcular y comunicar este indicador para cada uno de
                sus productos con el fin de fomentar la transparencia sobre costos.
            </div>
        </div>
    </div>
    <div class="card card--button modal-triger">
        <span>Agentes económicos</span>
        <div class="description">
            <div class="description-content">
                <h3>Agentes económicos</h3>
                Los agentes económicos son actores que intervienen en la economía, bajo un determinado sistema económico y
                conjunto de "reglas de juego". Estos toman decisiones buscando optimizar su bienestar. Moldean al mundo en
                el que vivimos y deciden la asignación de los recursos.
            </div>
        </div>
    </div>
    <div class="card card--button modal-triger">
        <span>Oferta vinculante </span>
        <div class="description">
            <div class="description-content">
                <h3>Oferta vinculante</h3>
                La oferta vinculante es un documento que, a solicitud del interesado en adquirir un crédito hipotecario, la
                entidad otorgante debe entregar por escrito y sin costo, en el cual se obliga, por un plazo determinado, a
                establecer y mantener los términos y condiciones con los cuales otorgaría dicho financiamiento, así como el
                CAT individual de la operación.
            </div>
        </div>
    </div>
