<ul class="tabs-h" data-content="tabsH1">
    <li data-tab="1"><span>Tab 1</span></li>
    <li data-tab="2"><span>Tab 2</span></li>
    <li data-tab="3"><span>Tab 3</span></li>
    <li data-tab="4"><span>Tab 4</span></li>
    <li data-tab="5"><span>Tab 5</span></li>
</ul>
<div class="tabsContent" id="tabsH1">
    <div>
        Content Tab 1...
    </div>
    <div>
        Content Tab 2...
    </div>
    <div>
        Content Tab 3...
    </div>
    <div>
        Content Tab 4...
    </div>
    <div>
        Content Tab 5...
    </div>
</div>