<div class="steps">
    <div class="line"></div>
    <div class="step">
        <div>
            <div class="dot"></div>
        </div>
        <div><span>Ingresa a la app ScotiaMóvil</span>Es muy simple</div>
    </div>
    <div class="step">
        <div>
            <div class="dot-empty"></div>
        </div>
        <div><span>Consulta la sección de “<strong>Ofertas</strong>”</span></div>
    </div>
    <div class="step">
        <div>
            <div class="dot-empty"></div>
        </div>
        <div><span>Valida si tienes algún producto pre aprobado</span></div>
    </div>
</div>