<div class="faq__list">
    <div class="faq__topic">
        <div>¿Tiene algún costo el programa de capacitación?</div>
        <div class="faq__topic__questions">
            <div class="faq__question">
                <div class="text--small"></div>
                <div class="text--small">No, es un beneficio exclusivo por ser cliente PyME ELITE de Scotiabank.<a class="link" href="https://www.google.com">drcfcfvfvfv</a></div>
            </div>
        </div>
    </div>
    <div class="faq__topic">
        <div>¿Puedo compartir la liga de acceso a las sesiones con más personas?</div>
        <div class="faq__topic__questions">
            <div class="faq__question">
                <div class="text--small"></div>
                <div class="text--small">No, la liga de acceso a las sesiones es personal e intransferible.</div>
            </div>
        </div>
    </div>
    <div class="faq__topic">
        <div>¿Quién es Needed Education?</div>
        <div class="faq__topic__questions">
            <div class="faq__question">
                <div class="text--small"></div>
                <div class="text--small">Empresa líder en educación con más de 20 años de experiencia global, inspirando
                    a las personas, transformando empresas y desarrollando el ecosistema digital. <br><br>Fundada por
                    expertos digitales en Latinoamérica, Needed Education cuenta con una red de profesores protagonistas
                    de la industria, de quienes podrás adquirir las competencias digitales esenciales para impulsar tu
                    carrera o negocio.</div>
            </div>
        </div>
    </div>
    <div class="faq__topic">
        <div>¿Cuáles son los requisitos para obtener el certificado con valor curricular?</div>
        <div class="faq__topic__questions">
            <div class="faq__question">
                <div class="text--small"></div>
                <div class="text--small">El certificado se entregará al finalizar el programa integral de formación, por
                    lo que el único requisito es asistir a las 15 sesiones para obtener el certificado con valor
                    curricular.</div>
            </div>
        </div>
    </div>
</div>