.faq-block {
    padding-bottom: 0;
}

.faq-block .block-title span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.faq__list {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #E2E8EE;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 40, 80, 0.07);
    box-sizing: border-box;
}

.faq__topic>div:nth-child(1) {
    cursor: pointer;
    background: url(https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/scotiamovil/img/chevron-down.svg) 96% 60% no-repeat;
    padding: 20px 26px;
    font-size: 18px;
    transition: background .3s ease;
    border-bottom: 1px solid #e1e9ef;
}

.faq__topic>div:nth-child(1):hover {
    background-color: #F6F6F6;
}

.faq__topic>div:nth-child(1).active {
    font-weight: 600;
    border-bottom: 1px solid #7849B8;
}

.faq__topic>div:nth-child(1).active~div {
    background-color: #F9F9F9;
}

.faq__topic>div.active:nth-child(1) {
    background: url(https://scotiabankfiles.azureedge.net/scotia-bank-mexico/digital-factory/scotiamovil/img/chevron-up.svg) 97% 60% no-repeat;
}

.faq__topic__questions {
    font-size: 16px;
    display: none;
    padding: 36px 24px;
}

.faq__question>div:nth-child(1) {
    font-weight: 600;
}

div>.faq__topic:last-child div {
    border-bottom: none;
}

@media only screen and (min-width:720px){
    .faq__list {
        width: 85%;
    }
}