.hero-banner > div:nth-child(1){
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: -1000%;
    box-sizing: border-box;
    font-size: 18px;
    color: #000;
    word-break: break-word;
}
.hero-banner.redColor > div:nth-child(1){
    background-color: #EC111A;
    color:#FFF;
}
.hero-banner.orange > div:nth-child(1){
    background-color: #FB6330;
    color:#FFF;
}
.hero-banner.green > div:nth-child(1){
    background-color: #138468;
    color:#FFF;
}
.hero-banner.blue > div:nth-child(1){
    background-color: #009DD6;
    color:#FFF;
}
.hero-banner.purple > div:nth-child(1){
    background-color: #7849B8;
    color:#FFF;
}
.hero-banner.pink > div:nth-child(1){
    background-color: #F2609E;
    color:#FFF;
}
.hero-banner.yellow > div:nth-child(1){
    background-color: #FFD42F;
    color:#FFF;
}
.hero-banner.grey > div:nth-child(1){
    background-color: #333333;
    color:#FFF;
}

.hero-banner > div:nth-child(1) >div {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.hero-banner> div:nth-child(1) >div > div >h1 {
    display: block;
    margin: 0 0 10px 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    color: #FFF;
}

.hero-banner> div:nth-child(1) >div>div {
    width: 100%;
}

.hero-banner> div:nth-child(1) >div>div:nth-child(1) {
    padding: 32px;
    padding-bottom: 72px;
}

.hero-banner>div:nth-child(2) {
    position: relative;
    width: 95%;
    max-width: 1140px;
    top: -60px;
    margin: 0 auto;
    padding: 36px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgb(0 40 80 / 7%);
    color:#000;
}

.hero-banner--box--picture-mobile{
    background-position: center top;
    background-size: 100% auto;
    padding-top: 260px;
}


@media only screen and (min-width:720px) {

    .hero-banner--box--picture-mobile{
        background-size: contain;
        padding-top: 0;
    }
    .hero-banner--box > div:nth-child(1) {
        background-position: calc(55vw) center !important;
    }
    .hero-banner > div:nth-child(1){
        background-size: contain;
        background-position: calc(50vw) center;
    }

    .hero-banner> div:nth-child(1) >div>div:nth-child(1) {
        width: 45%;
        padding: 104px 0;
    }

    .hero-banner> div:nth-child(1) >div > div >h1 {
        font-size: 46px;
    }

    .hero-banner> div:nth-child(1) >div > div >h1 > sup{
        font-size: 24px;
    }

    .hero-banner> div:nth-child(2) {
        position: relative;
        width:100%;
        max-width: 1140px;
        top: -60px;
        margin:0 auto;
        padding: 48px;
        background-color: #fff;
        box-shadow: 0 2px 10px 0 rgb(0 40 80 / 7%);
        border-radius:8px;
        font-size: 16px;
        box-sizing: border-box;
    }
}