<div class="key-points key-points--text">
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/_icon_calendar.png"
            alt="invierte en educacion">
        <div>Visítanos del <strong>8 al 12 de febrero</strong> de 2021</div>
    </div>
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/cuesta-enero/casa.svg"
            alt="pagar deudas">
        <div>Acude a la sucursal de tu preferencia de<strong> 8:30 h a 16:00 h</strong></div>
    </div>
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/sc_mobile.svg" alt="casa">
        <div>Llama al <a href="tel:800 727 8071" target="_self" class="important"><strong>800 727 8071</strong></a> o
            acércate con uno de nuestros Ejecutivos</div>
    </div>
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/30px.png" alt="avion">
        <div><strong>Exhibición</strong> de autos en las sucursales</div>
    </div>
</div>