<div class="key-points">
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/_icon_calendar.png"
            alt="invierte en educacion">
        <div>Tasa del 45% anual*</div>
    </div>
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/spanish/campanas/cuesta-enero/casa.svg"
            alt="pagar deudas">
        <div>Seguro de desempleo incluido</div>
    </div>
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/sc_mobile.svg" alt="casa">
        <div>Asesoria personalizada</div>
    </div>
    <div><img src="https://scotiabankfiles.azureedge.net/scotia-bank-mexico/30px.png" alt="avion">
        <div>Personalizacion de pagos memnsuales</div>
    </div>
</div>