.subtitle{
    font-size:24px;
    color: #2b2b2b;
    font-weight: 600;
}

.subtitle.subtitle--line::before{
    display: block;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #EC111A;
    transform: translateY(-8px);
}